.poper-content{
    font-family: sans-serif;
}
.poper-content:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    color: black;
}
.background-color-container{
    width: 180px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.group-one,.group-two,.group-three{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.color1{
    background-color: rgb(255, 255, 255);
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color2{
    background-color: #18C6FB;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color3{
    background-color: #F6FF78;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color4{
    background-color: #C3FF78;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color5{
    background-color: #78FFE9;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color6{
    background-color: #D078FF;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color7{
    background-color: #E79023;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color8{
    background-color:#23E772;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color9{
    background-color: #51E723;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color10{
    background-color: #23B7E7;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color11{
    background-color: #FF78A8;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.color12{
    background-color: #F2FF78;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    
}
.modal-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #ffffff;
    border: 2px solid #aeaeae;
    border-radius: 5px;
}
@media only screen and (max-width:600px) {
    .icons-operations{
        font-size: 12px !important;
    }
}