.note-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.note-container-one{
    width: 40%;
    display: flex;
    justify-content: center;
}
.note-container-two{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.note-card-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.modal-box{
    border: none !important;
}
@media only screen and (max-width: 800px) {
    .note-container-one{
        width: 80%;
    }
}