.register-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container{
    height: 450px;
    max-width: 800px;
}
.register-card{
    height: 100%;
    width: 100%;
    outline: 2px solid rgb(204, 199, 199);
    border-radius: 4px;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
}
.form-content-one{
    width: 55%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
$title-color:   rgb(239, 215, 78);
.register-form-title{
    color: $title-color;
    font-weight: 700;
    font-size: 20px;
}
.register-form-heading{
    font-weight: 500;
}
.input-text-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-field{
    width: 45%;
    size: 20px;
}
.input-username-container{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}
.input-username-container span{
    font-size: 14px;
}
.password-container span{
    font-size: 14px;
}

.form-content-two{
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-content-two img{
    width: 80%;
}
.form-content-two span{
    font-size: 20px;
    font-weight: 500;
}
.register-button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.login-link{
    text-decoration: none;
    color: rgb(0, 123, 255);
    font-weight: 500;
}
@media only screen and ( max-width: 800px){
    .form-content-two{
        display: none;
    }
    .form-content-one{
        width: 100%;
    }
    .register-container{
        height: 75%;
        max-width: 90%;
    }
    .input-text-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .text-field {
        width: 100%;
        margin-bottom: 20px !important;
    }
}
